<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
     <key>CFBundleName</key>
     <string>sftools</string>
     <key>CFBundleIdentifier</key>
     <string>com.github.mantognini.sftools</string>
     <key>CFBundleVersion</key>
     <string>2.0</string>
     <key>DocSetFeedName</key>
     <string>sftools documentation</string>
     <key>DocSetPublisherIdentifier</key>
     <string>com.github.mantognini</string>
     <key>DocSetPublisherName</key>
     <string>MarcoAntognini</string>
</dict>
</plist>
